<div class="container-fluid">

<%= form_with(model: @profile, html: { multipart: true } ) do |form| %>
 
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@profile.errors.count, "error") %> prohibited
        
        this profile from being saved:
      </h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div>

      <%= form.hidden_field :user_id , value: session[:user_id] %>
      
    </div>

  <p>
    <%= form.label :image %><br><br>
    <%= form.file_field :image %>
  </p>

  <h4 class="checkfeilds_error" id="profile-image"></h4>

  <p>

    <%= form.label :firstname%><br>
    <%= form.text_field :firstname %>
  </p>

  <h4 class="checkfeilds_error" id="firstname"></h4>

   <p>
    <%= form.label :lastname%><br>
    <%= form.text_field :lastname %>
  </p>

  <h4 class="checkfeilds_error" id="lastname"></h4>
 
  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </p>

  <h4 class="checkfeilds_error" id="address"></h4>

  <p>
    <%= form.label :city%><br>
    <%= form.text_field :city %>
  </p>

  <h4 class="checkfeilds_error" id="city"></h4>

  <p>
    <%= form.label :state%><br>
    <%= form.text_field :state %>
  </p>

  <h4 class="checkfeilds_error" id="state"></h4>

  <p>
    <%= form.label :zipcode%><br>
    <%= form.text_field :zipcode %>
  </p>

  <h4 class="checkfeilds_error" id="zip"></h4>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
</div>