<%= link_to "Back" ,welcome_index_path%>
<h1>My Profile</h1>

<div class="well">
	<span><b>Frist Name:</b></span>
	<p><%=@profile.firstname %></p>
	<span><b>Last Name:</b></span>
	<p><%=@profile.lastname %></p>
	<span><b>Address:</b></span>
	<p><%=@profile.address %></p>
	<%= link_to "Show Full Profile" ,profile_path(@profile)%>
	<hr>
</div>
