<h1>User Profile</h1>

<p>
  <strong>Image:</strong>
  <%= image_tag @profile.image.thumb.url %>
</p>

<p>
	<strong>First Name:</strong>
	<%= @profile.firstname %>
</p>
<p>
	<strong>Last Name:</strong>
	<%= @profile.lastname %>
</p>
<p>
	<strong>Address:</strong>
	<%= @profile.address %>
</p>
<p>
	<strong>City:</strong>
	<%= @profile.city %>
</p>
<p>
	<strong>State:</strong>
	<%= @profile.state %>
</p>
<p>
	<strong>Zip code:</strong>
	<%= @profile.zipcode %>
</p>

<p>
  <%=	link_to "Back", profiles_path %>
</p>
<p>
  <%=	link_to "Edit", edit_profile_path %>
</p>




