<div class= "Login_Form">

  <h1>Log in</h1>

  <%= form_tag(:action => 'login') do %>

    <p>Username or Email:</br> <%= text_field_tag(:username) %></p> 

    <p>Password:</br> <%= password_field_tag(:password) %></p> 
    
    <%= submit_tag("Log In") %>
  <% end %>

  <h3>If you are not a user first click here to signup</h3>

 <a href = "<%=users_create_path %>">Signup</a>
</div>
