

<%= form_with(model: @article, local: true) do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>

      <%= form.hidden_field :user_id , value: session[:user_id] %>
      
    </div>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title  , class: "title_feild" %>
  </p>
  <h4 class="checkfeilds_error" id="title_feild"></h4>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text  , class: "body_feild" %>
  </p>

  <h4 class="checkfeilds_error" id="text_field"></h4>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>