<h1>Edit article</h1>

<!--The arguments to form_with could be model objects, say, model: @article which would cause the helper to fill in the form with the fields of the object. Passing in a symbol scope (scope: :article) just creates the fields but without anything filled into them.-->

<!--Passing the article object to the method, will automatically create url for submitting the edited article form. This option tells Rails that we want this form to be submitted via the PATCH HTTP method which is the HTTP method you're expected to use to update resources according to the REST protocol.

-->
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>