<h1>Your Articles in Blog</h1><hr>

<!--This link will allow you to bring up the form that lets you create a new article.-->
<h2>Click below to create new articles</h2>
<%= link_to 'New article' , new_article_path  %><br>
<h2>Click below for your profile</h2>
<%= link_to 'Profile' , profiles_path  %><br>
<h2>Click here to Logout</h2>

 <a href = "<%=authentication_destroy_path %>">Logout</a>


<hr>

<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th>Actions</th>
	</tr>


<%= @articles.each do |article|%>
	<tr>
		<td><%=article.title %></td>
		<td><%=article.text %></td>
		<td><%= link_to 'Show', article_path(article) %></td>
		<td><%= link_to 'Edit', edit_article_path(article) %></td>
		<td><%= link_to 'Delete', article_path(article),method: :delete, data: { confirm: 'Are you sure?' } %></td>


	</tr>

	<%end%>

	</table>