<% @page_title = "Signup" %>

<div class="Sign_Form">

  <h1>Sign Up</h1>

  <%= form_for( :user, :url => {:controller => 'users', :action => 'create'}) do |f| %>

    <p> Username:</br> <%= f.text_field :username%> </p>

    <p> Password:</br> <%= f.password_field :password%></p>
    
    <%= f.submit :Signup %>


  <% end %>
  
</div>