<h1>Welcome to BLOG application!</h1>

<h2>Please click the down link to check your blogs</h2>

<%= link_to 'My Blog' , articles_path %>

 <h2>If There is no article posted right now click here to create a new article first</h2>

<%= link_to 'New article' , new_article_path  %>


<h3>Click here to see all Users</h3>

<%= link_to 'User Profile' , profiles_path %>



<h2>Click here to Logout</h2>

 <a href = "<%=authentication_destroy_path %>">Logout</a>
