<<%= form_tag("/authentication/create", method: "post") do %>

<% if @user.errors.any? %>
	<% @user.errors.full_messages.each do |msg| %>
	<div class="alert alert-danger"><%=msg%></div>
	<% end %>
<% end %> 
  <%= label_tag(:username, "Username:") %>

  <%= text_field_tag(:username) %>

  <%= label_tag(:password, "Password:") %>

  <%= text_field_tag(:password) %>

  <%= submit_tag("Signup") %>

 <% end %>
