<div class="container-fluid">

<h2 class="bg-light" align="center"><strong><b>Welcome to My Blog <em>Login|Signup</em> first!!</b></strong></h2>
<div align="left">
	
<%= form_tag("/authentication/authentication_login" , method: "post") do %>

<p>
  <%= label_tag(:username, "Enter Username:") %><br>

  <%= text_field_tag(:username) %><br>

  </p>

  <span class="check-field" id="usernamecheck"></span>


<p>
  <%= label_tag(:password, " Enter Password:") %><br>

  <%= password_field_tag(:password) %><br>

  </p>

<span class="check-field" id="passwordcheck"></span> <br>

  <%= submit_tag "Login" , class: 'submitform' %><br>

 <% end %>

 </div>

<hr>
<h3>If you are not a user first click here to signup</h3>
<a href = "<%=authentication_signup_path %>">Signup</a>

</div>