<div class="container-fluid">
<h2 align="center" class="bg-light"><strong><b>Signup Here!!</b></strong></h2>

<%= form_tag("/authentication/create" , method: "post") do %>


<p>
	<%= label_tag(:username, "Enter Username:") %><br>

	<%= text_field_tag(:username) %><br>
</p>

<span class="check-field" id="usernamecheck"></span>

<p>

  <%= label_tag(:password, "Enter Password:") %><br>

  <%= password_field_tag(:password) %><br>
  
</p>

	<span class="check-field" id="passwordcheck"></span><br>
	

  <%= submit_tag "Signup" , class: 'submitform' %><br>

 <% end %>

</div>

<div class="container-fluid">

 <hr>

<h2>If you are already a member click the link below for login</h2>
  <a href = "<%=authentication_login_path %>">Login</a>
</div>
